.toast {
    position: fixed;
    top: 20px;
    right: 30px;
    min-width: 280px;
    box-shadow: 0.15rem 0.25rem 0.95rem rgba(8, 164, 255, 0.1);
}

.toast-header img{
    width: 20px;
    height: 20px;
}

.fade {
    animation: example;
    animation-duration: 1.2s;
}

@keyframes example {
    0%   {right: -280px}
    100% {right: 30px}
  }

.admin-main {
    height: 100%;
}

.admin-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    width: 250px;
    border-right: 1px solid #dee2e6;
    min-height: 100%;
    background-color: #fff;
}

.admin-content {
    width: 100%;
}

.admin-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #dee2e6;
}
.admin-logo a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

.menu-item .list-group-item{
    border: none;
}

.menu-item .list-group-item a {
    color: #000;
    text-decoration: none;
}

.menu-item .list-group-item a:hover {
    color: var(--main-color);
}


.admin-account {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
}

.content-main{
    background-color: #f4f5f6;
    height: 100vh;
    padding: 15px 20px;
    margin-left: 250px;
}


.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top: none;
}


.box-content {
    width: 100%;
    background-color: white;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
}